
<h1>movies Planner</h1>

<ul>
  {{#each movies}}
  <li>
    <p>
      {{this.id}}. {{this.movies}}

      <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Schedule a List</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="movies"></textarea>
  <button type="submit">Save a movies!</button>
</form>

<h2>Update the List</h2>
<form id="updateplan" class="button-size">
  <select name="id">
		{{#each movies}}
			<option value="{{this.id}}">{{this.movies}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="movies" placeholder="movies"></textarea>
  <button type="submit">Update List!</button>
</form>

<script type="text/javascript">
  $(".delplan").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("planid");

    // Send the DELETE request.
    $.ajax("/api/movies/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=movies] will find an element with a "name" attribute equal to the string "movies"
    var newPlan = {
      movies: $("#createplan [name=movies]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/movies", {
      type: "POST",
      data: newPlan
    }).then(
      function() {
        console.log("created new movies");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedPlan = {
      movies: $("#updateplan [name=movies]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/movies/" + id, {
      type: "PUT",
      data: updatedPlan
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
